*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/netbeans_tutorial/nbproject/private/
/netbeans_tutorial/netbeans_tutorial-war/nbproject/private/
/netbeans_tutorial/netbeans_tutorial-ejb/nbproject/private/
/netbeans_tutorial/build/
/netbeans_tutorial/netbeans_tutorial-war/build/
/netbeans_tutorial/netbeans_tutorial-war/dist/
/netbeans_tutorial/netbeans_tutorial-ejb/dist/
/netbeans_tutorial/netbeans_tutorial-ejb/build/
/netbeans_tutorial/dist/
/AffableBean/nbproject/private/
/AffableBean/build/